input[type='range'] {
    -webkit-appearance: none !important;
    background:rgba(255, 255, 255, 0.295);
    height:7px;
    border-radius: 16px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:rgb(255, 255, 255);
    height:7px;
    width:7px;
    border-radius: 16px;
}